.main-banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  padding: 260px 0 144px;
  background: #354451;

  @include mMax {
    padding: 190px 0 160px;
  }

  @include mmMax {
    padding: 152px 0 112px;
  }

  &_container {
    position: relative;
    z-index: 2;
    width: calc(100% - 80px);
    max-width: 1480px;
    margin: 0 auto;

    @include dMax {
      max-width: 1230px;
    }

    @include mMax {
      width: calc(100% - 56px);
    }

    @include mmMax {
      width: calc(100% - 40px);
    }

    p {
      display: block;
      margin-top: 16px;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #7f86a2;

      @include mMax {
        margin-top: 12px;
        font-size: 16px;
        line-height: 24px;
      }

      @include mmMax {
        margin-top: 8px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  h2 {
    max-width: 735px;

    @include mmMax {
      max-width: 343px;
    }
  }

  .blue-btn {
    max-width: 189px;
    margin-top: 100px;

    @include mMax {
      margin-top: 70px;
    }

    @include mmMax {
      max-width: 168px;
      margin-top: 40px;
    }
  }

  &_bg {
    position: absolute;
    top: 50%;
    left: 686px;
    z-index: 1;
    display: block;
    width: 1603px;
    margin-top: 40px;
    transform: translateY(-50%);

    @include dMax {
      left: 631px;
      width: 1428px;
    }

    @include tMax {
      left: 503px;
      width: 1139px;
      margin-top: 60px;
    }

    @include mMax {
      left: 370px;
      width: 1118px;
      margin-top: 80px;
    }

    @include mmMax {
      left: 281px;
      width: 795px;
      margin-top: 50px;
    }
  }
}

.achievements {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);

  @include mmMax {
    transform: translateY(-44px);
  }

  &_catalog {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(100% - 80px);
    max-width: 1250px;

    @include mMax {
      width: calc(100% - 56px);
    }

    @include mmMax {
      position: relative;
      width: 394px;
      display: block;
    }
  }

  &_item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(33.333% - 40px / 3);
    padding: 20px;
    margin: 0 10px;
    background: #ffffff;
    box-shadow: 0px 60px 120px -10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    p {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 139.4%;
      color: #000000;

      b {
        font-weight: 600;
      }
    }

    @include tMax {
      padding: 16px;
      align-items: flex-start;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      p {
        font-size: 16px;
        line-height: 139.4%;
      }
    }

    @include mMax {
      width: calc(33.333% - 32px / 3);
      margin: 0 8px;

      p {
        font-size: 14px;
        line-height: 139.4%;
      }
    }

    @include mmMax {
      width: 100%;
      margin: 0 0 12px;
      padding: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-size: 16px;
        line-height: 139.4%;
      }
    }
  }

  &_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 78px;
    margin-right: 14px;
    flex-shrink: 0;
    background: #edf4fa;
    border-radius: 50%;

    img {
      display: block;
      max-width: 70%;
    }

    @include tMax {
      width: 32px;
      height: 32px;
      background: transparent;
      border-radius: 0;

      img {
        width: 100%;
        height: 100%;
        max-width: none;
      }
    }

    @include mMax {
      display: none;
    }

    @include mmMax {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.example {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 174px 0 100px;
  background: #f7f7f8;

  @include tMax {
    padding: 134px 0 80px;
  }

  @include mMax {
    padding: 103px 0 40px;
  }

  @include mmMax {
    padding: 16px 0 60px;
  }

  &_banner {
    display: block;
    margin: 60px auto 0;
    width: calc(100% - 80px);
    max-width: 1110px;

    img {
      display: block;
      width: 100%;
    }

    @include mMax {
      width: calc(100% - 56px);
      margin: 40px auto 0;
    }

    @include mmMax {
      max-width: 293px;
    }
  }
}

.instruction {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 100px 0 200px;
  background-color: #fff;

  @include tMax {
    padding: 80px 0 184px;
  }

  @include mMax {
    padding: 80px 0 144px;
  }

  @include mmMax {
    padding: 60px 0 80px;
  }

  .container {
    max-width: 1218px;
  }

  &_wrapper {
    margin-top: 135px;

    @include tMax {
      margin-top: 119px;
    }

    @include mmMax {
      margin-top: 60px;
    }
  }

  &_item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include mmMax {
      display: block;
    }

    & + & {
      margin-top: -2px;

      @include mmMax {
        margin-top: 60px;
      }
    }

    &:nth-child(3) {
      .instruction_icon {
        img {
          margin-top: 63px;
        }
      }
    }

    &:nth-child(even) {
      .instruction_content {
        order: -1;
        border: 2px dashed #e3ebf2;
        border-radius: 155px 0 0 155px;
        padding: 79px 0 44px 20px;
        border-right: 0;
        width: 49%;

        .instruction_texts {
          margin-left: auto;
          max-width: 393px;

          @include mMax {
            max-width: 305px;
          }

          @include mmMax {
            max-width: 498px;
            margin-left: 0;
          }
        }

        .instruction_number {
          left: auto;
          right: 318px;

          @include mMax {
            right: 225px;
          }

          @include mmMax {
            right: auto;
            left: 0;
          }
        }

        @include tMax {
          padding: 79px 0 71px 20px;
          width: 61.44%;
        }

        @include mmMax {
          width: 100%;
          border: none;
          border-radius: 0;
          padding: 0;
        }
      }

      .instruction_icon {
        padding-left: 100px;
        padding-right: 0;
        width: 51%;

        img {
          margin-left: -45px;
          margin-top: 40px;

          @include mmMax {
            margin: 0 auto;
          }
        }

        @include tMax {
          width: 38.56%;
        }

        @include mMax {
          padding-left: 40px;
        }

        @include mmMax {
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  &_icon {
    box-sizing: border-box;
    width: 49.19%;
    padding-right: 100px;

    @include mmMax {
      width: 100%;
      padding: 0;
      margin-bottom: 36px;
    }

    img {
      display: block;
      width: 198px;
      max-width: 98%;
      margin-left: auto;

      @include mmMax {
        margin: 0 auto;
      }
    }
  }

  &_content {
    position: relative;
    box-sizing: border-box;
    width: 50.81%;
    padding: 79px 20px 71px 0;
    border: 2px dashed #e3ebf2;
    border-left: 0;
    border-radius: 0 155px 155px 0;

    @include mmMax {
      width: 100%;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }

  &_number {
    position: absolute;
    left: 0;
    top: -39px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    font-weight: bold;
    font-size: 34px;
    line-height: 135%;
    color: #109cf1;
    background: #edf4fa;
    border-radius: 50%;

    @include mmMax {
      top: -2px;
      width: 32px;
      height: 32px;
      font-size: 22px;
      line-height: 135%;
    }
  }

  &_texts {
    display: block;
    max-width: 417px;

    @include mMax {
      max-width: 305px;
    }

    @include mmMax {
      max-width: 498px;
    }

    h4 {
      display: block;
      font-weight: 600;
      font-size: 26px;
      line-height: 135%;
      color: #000000;

      @include tMax {
        font-size: 24px;
        line-height: 135%;
      }

      @include mMax {
        font-size: 20px;
        line-height: 135%;
      }

      @include mmMax {
        padding-left: 42px;
      }
    }

    p {
      display: block;
      margin-top: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 139.4%;
      color: #000000;

      @include tMax {
        font-size: 15px;
        line-height: 139.4%;
      }

      @include mMax {
        font-size: 14px;
        line-height: 139.4%;
      }
    }
  }

  &_btn {
    .green-btn {
      max-width: 189px;
      margin: 0 auto;
      transform: translateY(-50%);

      @include mmMax {
        transform: none;
        max-width: 168px;
        margin-top: 40px;
      }
    }
  }
}
